#rB {
    color: #ced0d6;
    background-color: #2b2d30;
    margin: 0px;
}

#rEs {
    font-family: monospace, monospace;
    background-color: #1e1f22;
    border: 1px solid black;
    padding: 4px;
    border-style: outset;
    margin: 12px;
}

#rEs div.olE {
    margin: 4px;
}

#rEs>div:not(.olE) {
    margin-left: 4px;
    border: solid 1px #2b2d30;
}

#rP, #rp {
    border: 1px solid #ced0d6;
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    float: left;
}

.olE {
    border: solid 1px #2b2d30;
    transition: all 0.5s ease-out;
}

.olE:hover {
    border: solid 1px #61656b;
}

.olE:not(:has(.olE:hover)):hover {
    border: solid 1px #588cf5;
}

.olEH {
    cursor: pointer;
}

.olEH:hover {
    font-weight: bold;
}

.olEH.H:before {
    content: '+ ';
}

.olEH:not(H):before {
    content: '- ';
}

.olEH.cW {
    color: #588cf5;
}

.cW {
    color: #ced0d6;
}

.cG {
    color: #2b8126;
}

.cY {
    color: rgb(240, 204, 0);
}

.cO {
    color: darkorange;
}

.cR {
    color: #ce2828;
}

.bE,.wE,.sE,.fE,.EE {
    font-weight: bold;
}

.ts {
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 8px;
    background-color: #292929;
    border-right: 1px solid #53565c;
}

.ds {
    display: inline-block;
    white-space: pre-wrap;
}

h1, h3 {
    margin-left: 4px;
}

a:link {
    color: rgb(134, 190, 192);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(0, 174, 255);
    background-color: transparent;
    text-decoration: underline;
}

img {
    width: 100px;
    height: 100px;
}

th {
    background-color: #b2b4bb;
    color: #17171a;
    cursor: default;
}

td {
    border: 1px solid #ced0d6;
    padding: 4px;
    width: 30%;
}

button {
    transition-duration: 0.4s;
    font-family: monospace, monospace;
    margin: 4px;
    background-color: #4f5257;
    color: #ced0d6;
}

button:hover {
    background-color: #292929;
    color: #ced0d6;
    cursor: pointer;
}