<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Logia Report</title>
    <link href="css/Report.css" rel="stylesheet">
</head>
<body id="rB">
    <div id="rEs">
        <h1 id="rN">Report: N/A</h1>
        <h3 id="rD">Description: N/A</h3>
        <div id="tbC" style="border: none; border-bottom: solid 1px #2b2d30;">
            <button id="btp" style="margin-left: 0px; margin-right: 8px;" onclick="javascript:toggleTbl('rp', 'btp', true);">+ Properties</button>
            <table id="rp" style="display: none;">
                <tr><th style="float: left; width: 100%;" colspan="2">Properties<button onclick="javascript:toggleTbl('rp', 'btp');">- Hide</button></th><th>Value</th></tr>
            </table>
            <button id="btP" style="margin-left: 0px;" onclick="javascript:toggleTbl('rP', 'btP', true);">+ Parameters</button>
            <table id="rP" style="display: none;">
                <tr><th style="float: left; width: 100%" colspan="2">Parameters<button onclick="javascript:toggleTbl('rP', 'btP');">- Hide</button></th><th>Value</th></tr>
            </table>
        </div>
        <div style="border-bottom: solid 1px #2b2d30;">
            <span style="white-space: pre-wrap;">Started : </span><span id="stV"></span><br>
            <span style="white-space: pre-wrap;">Ended   : </span><span id="enV"></span>
        </div>
        <button id="eA" onclick="javascript:toggleAllLevels(true);">+ Expand All</button>
        <button id="eA" onclick="javascript:toggleAllLevels();">- Collapse All</button>
    </div>
    <script type="text/javascript" src="Report.js"></script>
    <script type="text/javascript" src="js/ReportController.js"></script>
    <script type="text/javascript">
        (function () {
            populateReport();
        })();
    </script>
</body>
</html>