<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Balogan Scenario</title>
    <link href="css/Commons.css" rel="stylesheet">
    <link href="css/Report.css" rel="stylesheet">
    <link href="css/Scenario.css" rel="stylesheet">
</head>

<body id="scenarioBody">
    <script type="text/javascript" src="Scenario.js"></script>
    <script type="text/javascript" src="js/Commons.js"></script>
    <script type="text/javascript" src="js/ReportController.js"></script>
    <script type="text/javascript" src="js/ScenarioController.js"></script>
    <script type="text/javascript">
        (function () {
            populateScenario(scenario);
        })();
    </script>
</body>

</html>